@use 'base-spinner';

@keyframes spinner-1 {
    0% {
      stroke-dasharray: 10;
    }
  
    15% {
      stroke-dasharray: 20;
    }
  
    50% {
      stroke-dasharray: 80;
    }
  
    70% {
      stroke-dasharray: 160;
    }
  
    90% {
      stroke-dasharray: 285;
    }
  
    100% {
      stroke-dasharray: 285;
    }
  }


  $animation-duration: 1s;
  .spinner--spinner-1 {
    .spinner__circle > circle {
      animation: spinner-1 $animation-duration cubic-bezier(0.37, 0.41, 0.27, 0.98)
      infinite alternate;
    }
  }
