
/* Spinner 1 */

@keyframes spinner-1 {
    0% {
      stroke-dasharray: 10;
    }
  
    15% {
      stroke-dasharray: 20;
    }
  
    50% {
      stroke-dasharray: 80;
    }
  
    70% {
      stroke-dasharray: 160;
    }
  
    90% {
      stroke-dasharray: 285;
    }
  
    100% {
      stroke-dasharray: 285;
    }
  }


  $animation-duration: 1s;
  .q4-spinner--spinner-1 {
    .q4-spinner__circle > circle {
      animation: spinner-1 $animation-duration easeInOutSine
      infinite alternate;
    }
  }
