$animation-duration: 2s;

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

.canvas {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.group1,
.group2 {
  position: absolute;
  top: 50%;
  left: 50%;
  scale: 2.5;
}

svg.circle {
  position: absolute;

  top: 50%;
  left: 50%;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  // clip-path: transform-polygon(((0% 0%), (50% 0%), (50% 50%), (100% 50%), (100% 100%), (0% 100%)), -50%, -50%);

  // clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 0%);
  // animation: circle-to-quarter-arc-clip-paths $animation-duration 1s cubic-bezier(.37, .41, .27, .98) infinite alternate;

  // &:nth-child(1) {}

  // &:nth-child(2) {
  //   width: 30px;
  //   height: 30px;
  //   // transform: translate(-50%, -50%) rotate(90deg);
  //   transform: rotate(90deg);
  // }

  // &:nth-child(3) {
  //   width: 45px;
  //   height: 45px;
  //   // transform: translate(-50%, -50%) rotate(180deg);
  //   transform: rotate(180deg);
  // }

  // &:nth-child(4) {
  //   width: 60px;
  //   height: 60px;
  //   // transform: translate(-50%, -50%) rotate(270deg);
  //   transform: rotate(270deg);
  // }
  circle {
    stroke-width: 1em;
    animation: dash $animation-duration cubic-bezier(.37, .41, .27, .98) infinite alternate;
  }
}

.group1 {

  // animation: rotate-group1 $animation-duration * 4 1s cubic-bezier(.37, .41, .27, .98) infinite;
  .circle:nth-child(1) {
    font-size: 46px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(0deg);
    // transform: rotate(0deg);
  }

  ;

  .circle:nth-child(2) {
    font-size: 12px;
    width: 45px;
    height: 45px;
    transform: translate(-50%, -50%) rotate(180deg);
    // transform: rotate(180deg);

  }
}

.group2 {
  .circle:nth-child(1) {
    font-size: 18px;
    width: 30px;
    height: 30px;
    transform: translate(-50%, -50%) rotate(90deg);
    // transform: rotate(90deg);
  }

  .circle:nth-child(2) {
    font-size: 8px;
    width: 60px;
    height: 60px;
    transform: translate(-50%, -50%) rotate(270deg);
    // transform: rotate(270deg);
  }
}

// @keyframes circle-to-quarter-arc-clip-paths {
//   0% {
//     // clip-path: transform-polygon(((0% 0%), (0% 100%), (100% 100%), (0% 0%), (0% 0%)), 0%, 0%);
//     clip-path: $start-point-clip-path;
//     // clip-path: inset(0);
//     // transform-origin: -50% -50%;
//     // scale: 7;
//   }

//   75% {
//     clip-path: $end-point-clip-path;
//   }

//   100% {
//     clip-path: $end-point-clip-path;
//   }
// }

@keyframes rotate-group1 {
  0% {
    transform: rotate(0deg);
  }

  18.75% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  37.5% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  68.75% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  93.75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 10;
  }

  15% {
    stroke-dasharray: 20;
  }

  50% {
    stroke-dasharray: 80;
  }

  70% {
    stroke-dasharray: 160;
  }

  100% {
    stroke-dasharray: 285;
  }
}